{% include 'myfashion/base.html' %}

{% block content %}<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="conatiner-fluid"
    style="background-image: url('/static/3d948da06d9372e3e70caa0eacca02cf.jpg'); background-repeat: no-repeat; background-size: cover;background-attachment: fixed;">
    <section id="landingpage">
        <div class="container-fluid" style=" height: 60vh;">
            <h2 class="text-center animate__animated animate__bounce" style="padding-top: 15%;font-family: 'Fugaz One', cursive;
    font-family: 'Luckiest Guy', cursive;font-size: 30px;color:black;
    ">Geenahs_world</h2>
            <p class="text-center  animate__animated animate__bounce " style="font-family: 'Open Sans', cursive;
    font-family: 'Luckiest Guy', cursive;font-size: 30px;color:black;">Dress To Impress With Us</p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="about">
                    <h2 style="color: black;"> WHO ARE WE? </h2>
                    <p style="color: black;">The Best Designs Meeting Functionality.<br>
                        You Can Be Sure You Will Look Amazing. Our Designs Make The Most Of The Fabric and Make You Look Elegantly Amazing! <br>
                        Grab Your Favorite.Reach Out For One.Get Yours Today.
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pick">
                    <img src="" alt="" id="">

                </div>
            </div>

        </div>
    </div>
    

{% endblock %}


<div id="contact">
   <!-- <a href="contacts"></a> -->
    <h1 style="text-align: center;"><b style="color: whitesmoke;"></b></h1>

    <div class="jumbotron">
        <div class="row">
            <div class="col-md-4">
                <h3>Contact us</h3>
                <p> Email: faithagnes2@gmail.com</p>
                <p> Phone number : +254790279917</p>
            </div>
            <div class="col-md-4">
                <h3>Locate us</h3>
                <P>Nairobi, Kenya</P>
                <p> Copyright @ C 2022 Geenahs_world</p>
                <p><b style="color: black;">Design by Agnes Okutoyi @ © 2022</b></p>
    
            </div>
            <div class="col-md-4">

                <h3>Connect with us</h3>
<style>
    #about{
    font-size: 20px;
    text-align: center;
    font-family: 'Open Sans', cursive;color:black;
}
#contact .jumbotron{
    background-color:sienna;
    color: white;
}
#contact{
    text-align: center;
}
#icon{
    display: flex;
    justify-content: center;
}
#icon img{
    margin-right: 20px;
}
</style>

                <div id="icon">
                    <div class="icon">
                        <a href=""><img src="/static/about img/facebook.png" alt=""></a>
                    </div>
                    <br>
                    <div class="icon">
                        <a href=""><img src="/static/about img/g_plus.png" alt=""></a>
                    </div>
                    <br>
                    <div class="icon">
                        <a href=""><img src="/static/about img/twitter.png" alt=""></a>
                    </div>
                    <div class="icon">
                        <a href=""><img src="/static/about img/you_tube.png" alt=""></a>
                        
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    
</div>

</div>